@model HomeGetViewModel

<p>@Model.RandomProp</p>
<p>@Model.StudentObj.StdID</p>
<p>@Model.StudentObj.Name</p>
<p>@Model.StudentObj.FavSubject</p>
<p>@Model.AddressObj.StreetName</p>
<p>@Model.AddressObj.City</p>
<p>@Model.AddressObj.State</p>
